$primary: #0e4a96;
$color-white: #fff;
$color-blue: #3d81d5;
$color-yellow: #fa9300;
$color-red: #e1445e;
$color-333: #333;
$color-666: #666;
$color-999: #999;
$border-color: #e2e2e2;
$placeholder-bg-color: #f5f5f5;
